{{>header}}

<div class="dfz-abstract-container">
    <div class="fade-in-animation-scroll">
        <h1>THE PLACE TO START DOTA</h1>

        <div class="button-container">
            <a href="//dotafromzero.com/join" target="_blank"><button class="button margin-top-bottom hollow-button">SIGN
                    UP</button></a>
            <a href="#recruiting-section"><button class="button margin-top-bottom filled-button">RECRUIT A FRIEND</button></a>
            <a href="#hall-of-fame-section"><button class="button margin-top-bottom hollow-button">HALL OF FAME</button></a>
        </div>
    </div>
    <div class="section">
        <h1>WHAT WE DO</h1>
        <div class="dfz-grid dfz-grid-row-3">
            <div class="dfz-col col1-laola">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/coaching.png');">
                    </div>
                    <h3>FREE COACHING</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">We offer free group coaching at scheduled times several times per week.</p>
                </div>
            </div>
            <div class="dfz-col col2-laola">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/community.svg');">
                    </div>
                    <h3>COMMUNITY</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">We are a friendly, open community for relaxed and toxicity-free learning of
                        Dota 2.</p>
                </div>
            </div>
            <div class="dfz-col col3-laola">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/twitch-logo-color.png');">
                    </div>
                    <h3>COACH TV</h3>
                </div>
                <div class="textBox">
                    We regularly 
                    <a href="https://www.twitch.tv/dotafromzero" target="_blank">
                        <p class="paragraph">stream</p>
                    </a>
                    our coaching sessions.
                </div>
            </div>
        </div>
    </div>
    <div class="section accent">
        <h1>HOW TO JOIN</h1>
        <div class="dfz-grid dfz-grid-row-3">
            <div class="dfz-col">
                <div class="infoBox text-box-accent">
                    <div class="img-box" style="background-image: url('/discord-logo-color.png');">
                    </div>
                    <h3>Discord</h3>
                </div>
                <div class="textBox text-box-accent">
                    Join our discord server.
                    <a href="//dotafromzero.com/join" target="_blank">
                        <p class="paragraph">(Guide)</p>
                    </a>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox text-box-accent">
                    <div class="img-box" style="background-image: url('/calibration.svg');">
                    </div>
                    <h3>Calibration Game</h3>
                </div>
                <div class="textBox text-box-accent">
                    <p class="paragraph">Play a game against bots with a coach watching and receive a suitable beginner
                        role.</p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox text-box-accent">
                    <div class="img-box" style="background-image: url('/play.svg');">
                    </div>
                    <h3>Play</h3>
                </div>
                <div class="textBox text-box-accent">
                    <p class="paragraph">Join scheduled lobbies or spontaneous matches organized by coaches.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h1>TYPES OF COACHING</h1>
        <div class="dfz-grid dfz-grid-row-4">
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/bot_bash.svg');">
                    </div>
                    <h3>Botbash</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Start out your Dota career by challenging bots and getting your basics right!
                    </p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/5v5.svg');">
                    </div>
                    <h3>5v5</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Have fun with and against other beginners and learn a ton at the same time.</p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/unranked.svg');">
                    </div>
                    <h3>Unranked</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Challenge GabeN's algorithm supported by an (almost) omniscient coach.</p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/replay_analysis.svg');">
                    </div>
                    <h3>Replay Analysis</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Relax and listen to some helpful tips looking retrospectively onto your and
                        other students' games.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="recruiting-section" class="section accent">
        <h1>RECRUIT A FRIEND</h1>
        
        <h2>Create a referral link</h2>
        <table class="dfz-table">
            <tr>
                <td class="bigTableCell">Your 
                    <span id="popUpTag" class="popUpOnHover">
                        Discord tag
                    </span>
                    <div id="tagImageContainer" class="modalImage" style="bottom:0px;">
                        <img src="/discord-tag.gif" style="width:100%;max-width:700px">
                    </div>
                </td>
                <td class="smallTableCell"><input id="userName" class="dfz-small-input" placeholder="name#1234"></td>
            </tr>
            <tr>
                <td class="bigTableCell">
                    <button class="button margin-top-bottom filled-button autoFontSize" onclick="copyToClipboard()">
                        <span class="visible-when-large">Copy to clipboard</span>
                        <span class="visible-when-small">Copy</span>
                    </button>
                </td>
                <td class="smallTableCell"><textarea class="dfz-textarea" id="joinMessage" placeholder="" disabled> </textarea> </td>
            </tr>
        </table>
        <h1>REFERRAL HALL OF FAME</h1>
        <table>
            <tr class="text-box-accent">
                <td>Discord-Tag</td>
                <td>Referrals</td>
            </tr>
            {{#each referrers}}
            <tr class="text-box-accent">
                <td>{{this.tag}}</td>
                <td>{{this.referralCount}}</td>
            </tr>
            {{/each}}
        </table>
        {{!-- <iframe class="dfz-yt-frame" src="https://www.youtube.com/embed/jPTXe2VxP0g?rel=0&controls=1&autoplay=0&mute=0&start=0"></iframe> --}}
    </div>
    <div id="hall-of-fame-section" class="section">
        <h1>COACH HALL OF FAME</h1>
        <h3>Our coaches dedicate their free time to this cause! Here their deeds become immortal (until the server burns
            down).</h3>
        <table>
            <tr>
                <td>Coach</td>
                <td>Total Matches</td>
                <td>Lobbies</td>
                <td>Tryouts</td>
                <td>Replay Analyses</td>
            </tr>
            {{#each coaches}}
            <tr>
                <td>{{this.nick}}</td>
                <td>{{this.lobbyCount}}</td>
                <td>{{this.lobbyCountNormal}}</td>
                <td>{{this.lobbyCountTryout}}</td>
                <td>{{this.lobbyCountReplayAnalysis}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>

{{>about}}
{{>scripts}}

<script>
    document.addEventListener("DOMContentLoaded", function() {    
        document.getElementById("userName").oninput = function() {
            var tagParts = document.getElementById("userName").value.split('#');
            var link = "http://www.dotafromzero.com/join?name=";
            if(tagParts.length !== 2) {
                document.getElementById("joinMessage").value = "Incorrect tag. Tag has form 'name'#'number'";
                return;
            }

            tagParts.forEach(part => {
                part.trim();
            })
            link += tagParts[0].trim() + "&number=" + tagParts[1].trim();
            document.getElementById("joinMessage").value = link;
        }
    });
</script>