<div class="main-container">
    <img src="/dfz_logo.png" class="big-dfz-logo">

    <div class="fade-in-animation-scroll">
        <h1>THE PLACE TO LEARN DOTA</h1>

        <div class="button-container">
            <a href="#recruiting-section"><button class="button hollow-button">RECRUIT A FRIEND</button></a>
            <a href="https://discord.com/invite/fQcxpvc" target="_blank"><button class="button filled-button">SIGN UP</button></a>
            <a href="#hall-of-fame-section"><button class="button hollow-button">HALL OF FAME</button></a>
        </div>
    </div>

    <div class="section">
        <h1>WHAT WE DO</h1>
        <div class="dfz-grid dfz-grid-row-3">
            <div class="dfz-col col1-laola">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/coaching.png');">
                    </div>
                    <h3>FREE COACHING</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">We offer free group coaching at scheduled times several times per week.</p>
                </div>
            </div>
            <div class="dfz-col col2-laola">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/discord-logo-color.png');">
                    </div>
                    <h3>COMMUNITY</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">We are a friendly, open community for relaxed and toxicity-free learning of Dota 2.</p>
                </div>
            </div>
            <div class="dfz-col col3-laola">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/twitch-logo-color.png');">
                    </div>
                    <h3>COACH TV</h3>
                </div>
                <div class="textBox">                    
                    <a href="https://www.twitch.tv/dotafromzero" target="_blank">
                        <p class="paragraph">We regularly stream our coaching sessions.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section accent">
        <h1>HOW TO JOIN</h1>
        <div class="dfz-grid dfz-grid-row-3">
            <div class="dfz-col">
                <div class="infoBox text-box-accent">
                    <div class="img-box" style="background-image: url('/placeholder.png');">
                    </div>
                    <h3>Discord</h3>
                </div>
                <div class="textBox text-box-accent">
                    <a href="https://discord.com/invite/fQcxpvc" target="_blank">
                        <p class="paragraph">Join the Discord server.</p>
                    </a>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox text-box-accent">
                    <div class="img-box" style="background-image: url('/placeholder.png');">
                    </div>
                    <h3>Tryout</h3>
                </div>
                <div class="textBox text-box-accent">
                    <p class="paragraph">Play a game against bots with a coach watching and receive a suitable beginner role.</p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox text-box-accent">
                    <div class="img-box" style="background-image: url('/placeholder.png');">
                    </div>
                    <h3>Play</h3>
                </div>
                <div class="textBox text-box-accent">
                    <p class="paragraph">Join scheduled lobbies or spontaneous matches organized by coaches.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h1>TYPES OF COACHING</h1>
        <div class="dfz-grid dfz-grid-row-4">
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/placeholder.png');">
                    </div>
                    <h3>Botbash</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Start out your Dota career by challenging bots and getting your basics right!
                    </p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/placeholder.png');">
                    </div>
                    <h3>5v5</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Have fun with and against other beginners and learn a ton at the same time.</p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/placeholder.png');">
                    </div>
                    <h3>Unranked</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Challenge GabeN's algorithm supported by an (almost) omniscient coach.</p>
                </div>
            </div>
            <div class="dfz-col">
                <div class="infoBox">
                    <div class="img-box" style="background-image: url('/replay_analysis.svg');">
                    </div>
                    <h3>Replay Analysis</h3>
                </div>
                <div class="textBox">
                    <p class="paragraph">Relax and listen to some helpful tips looking retrospectively onto your and
                        other students' games.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="recruiting-section" class="section accent">
        <h1>RECRUIT A FRIEND</h1>
        <iframe class="dfz-yt-frame"
            src="https://www.youtube.com/embed/jPTXe2VxP0g?rel=0&controls=1&autoplay=0&mute=0&start=0"></iframe>
    </div>

    <div id="hall-of-fame-section" class="section">
        <h1>COACH HALL OF FAME</h1>
        <h3>Our coaches dedicate their free time to this cause! Here their deeds become immortal (until the server burns down).</h3>
        <table>
            <tr>
                <td>Coach</td>
                <td>Total Matches</td>
                <td>Lobbies</td>
                <td>Tryouts</td>
                <td>Replay Analyses</td>
            </tr>
            {{#each coaches}}
            <tr>
                <td>{{this.nick}}</td>
                <td>{{this.lobbyCount}}</td>
                <td>{{this.lobbyCountNormal}}</td>
                <td>{{this.lobbyCountTryout}}</td>
                <td>{{this.lobbyCountReplayAnalysis}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <footer>
        <h1>CREDITS</h1>
        <div class="dfz-bottom-margin">The icon in the cell 'Free Coaching' was made by <a href="https://www.flaticon.com/de/autoren/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> from
            <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a></div>
        <div class="dfz-bottom-margin">Tons of icons made by the one and only Laerer</div>
        <div class="dfz-bottom-margin">Inspired by the free webflow template <a href="https://velocity-free-template.webflow.io/" target="_blank">Velocity</a> </div>
        <div>DFZ Discord-Bot and Website created and maintained by <a href="https://github.com/OliverHenrichs/" target="_blank" >ValarM</a></div>
    </footer>
</div>